<%- include('partials/header') %>

<form class="" action="/headlines" method="post">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-2 newsbox">
        <p><button type="submit" class="ae country">United Arab Emirates</button></p>
        <p><button type="submit" class="ar">Argentina</button></p>
        <p><button type="submit" class="at">Austria</button></p>
        <p><button type="submit" class="au">Australia</button></p>
        <p><button type="submit" class="be">Belgium</button></p>
        <p><button type="submit" class="bg">Bulgaria</button></p>
        <p><button type="submit" class="br">Brazil</button></p>
        <p><button type="submit" class="ca">Canada</button></p>
        <p><button type="submit" class="ch">Switzerland</button></p>
        <p><button type="submit" class="cn">China</button></p>
        <p><button type="submit" class="co">Colombia</button></p>
        <p><button type="submit" class="cu">Cuba</button></p>
        <p><button type="submit" class="cz">Czech Republic</button></p>
        <p><button type="submit" class="dn">Germany</button></p>
        <p><button type="submit" class="eg">Egypt</button></p>
        <p><button type="submit" class="fr">France</button></p>
        <p><button type="submit" class="gb">United Kindom</button></p>
        <p><button type="submit" class="gr">Greece</button></p>
      </form>
    </div>
    <div class="col-lg-3 col-md-2 newsbox">
      <p><button type="submit" class="hk">Hong Kong</button></p>
      <p><button type="submit" class="hu">Hungary</button></p>
      <p><button type="submit" class="class">Indonesia</button></p>
      <p><button type="submit" class="ie">Ireland</button></p>
      <p><button type="submit" class="il">Israel</button></p>
      <p><button type="submit" class="in">India</button></p>
      <p><button type="submit" class="it">Italy</button></p>
      <p><button type="submit" class="jp">Japan</button></p>
      <p><button type="submit" class="kr">South Korea</button></p>
      <p><button type="submit" class="lt">Lithuania</button></p>
      <p><button type="submit" class="lv">Latvia</button></p>
      <p><button type="submit" class="ma">Morocco</button></p>
      <p><button type="submit" class="mx">Mexico</button></p>
      <p><button type="submit" class="my">Malaysia</button></p>
      <p><button type="submit" class="ng">Nigeria</button></p>
      <p><button type="submit" class="ml">Netherlands</button></p>
      <p><button type="submit" class="no">Norway</button></p>
    </div>
    <div class="col-lg-3 col-md-2 newsbox">
      <p><button type="submit" class="nz">New Zealand</button></p>
      <p><button type="submit" class="ph">Philippines</button></p>
      <p><button type="submit" class="po">Poland</button></p>
      <p><button type="submit" class="ro">Roland</button></p>
      <p><button type="submit" class="rs">Serbia</button></p>
      <p><button type="submit" class="ru">Russian Federation</button></p>
      <p><button type="submit" class="sa">Saudi Arabia</button></p>
      <p><button type="submit" class="se">Sweden</button></p>
      <p><button type="submit" class="sg">Singapore</button></p>
      <p><button type="submit" class="si">Slovenia</button></p>
      <p><button type="submit" class="sk">Slovakia</button></p>
      <p><button type="submit" class="th">Thailand</button></p>
      <p><button type="submit" class="tr">Turkey</button></p>
      <p><button type="submit" class="tw">Taiwan</button></p>
      <p><button type="submit" class="ua">Ukraine</button></p>
      <p><button type="submit" class="us">United States Of America</button></p>
      <p><button type="submit" class="ve">Venezuela</button></p>
      <p><button type="submit" class="za">South Africa</button></p>
    </div>
  </div>
</div>

<%- include('partials/footer') %>
