<%- include('partials/header') %>

  <div class="box">
    <form class="" action="/news" method="post">
      <p>
        <label class="heading" for="cityInput">
          <h1>Topic Name: </h1>
        </label><br>
        <input id="cityInput" type="text" name="topic" autofocus="on">
        <button type="submit" name="button">Go</button>
      </p>
    </form>
  </div>

<%- include('partials/footer') %>
